@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

:root {
  --color-black: #0a0a0a;
  --color-white: #fafafa;
  --color-purple: #7c3aed;
  --color-purple-light: #a78bfa;
  --color-pink: #ec4899;
  /* --color-bg1: #090513;
  --color-bg2: #1d092e;
  --bubble1: #6f20b8;
  --bubble2: #622892;
  --bubble3: #7b2cbf;
  --bubble4: #8c3cc8;
  --bubble5: #a05ad2;
  --bubble6: #9934d3;
  --bubble7: #9227c0;
  --bubble-interactive: #710ec9; */
  --spread-distance: 50%;
}


/* .text-overlay {
  @apply fixed inset-0 z-[100] flex items-center justify-center text-[96px] text-white/80 pointer-events-none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
} */