@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

:root {
  --color-bg1: rgb(11, 5, 24);
  /* Fondo oscuro profundo */
  --color-bg2: rgb(30, 10, 46);
  /* Fondo violeta oscuro */
  --color1: 67, 15, 115;
  /* Violeta intenso */
  --color2: 98, 40, 146;
  /* Violeta real */
  --color3: 123, 44, 191;
  /* Púrpura vibrante */
  --color4: 140, 60, 200;
  /* Violeta eléctrico */
  --color5: 160, 90, 210;
  /* Lavanda oscuro */
  --color6: 180, 110, 220;
  /* Malva suave */
  --color7: 200, 130, 230;
  /* Lila claro */
  --color-interactive: 150, 80, 210;
  /* Violeta interactivo */
  --circle-size: 55%;
  --animation-speed: 1.4;
  --spread-distance: 50%;
  /* Mayor rango de movimiento */
}


.text-overlay {
  @apply fixed inset-0 z-[100] flex items-center justify-center text-[96px] text-white/80 pointer-events-none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}