.gradientsContainer {
    filter: url(#goo) blur(5rem);
    opacity: 0.9;
}

.interactive {
    background: radial-gradient(circle at center,
            rgba(var(--bubble1), 0.6) 0,
            rgba(var(--bubble1), 0) 70%);
    mix-blend-mode: var(--blending);
    position: absolute;
    will-change: transform;
}

/* TODO: cambiar tamano en mobile */
.bubble1 {
    position: absolute;
    background-color: var(--bubble1);
    top: -10;
    left: 0;
    animation: zig-zag calc(40s) linear infinite;
    width: 25rem;
    height: 25rem;
}

.bubble2 {
    position: absolute;
    background-color: var(--bubble2);
    top: 30;
    right: 0;
    animation: spiral calc(40s) ease-in-out infinite;
    width: 20rem;
    height: 20rem;
}

.bubble3 {
    position: absolute;
    background-color: var(--bubble3);
    top: 100;
    left: 30;
    animation: diagonal-drift calc(50s) linear infinite;
    height: 25rem;
    width: 25rem;
}

.bubble4 {
    position: absolute;
    background-color: var(--bubble4);
    top: 250;
    right: 250;
    animation: pendulum calc(50s) ease-in-out infinite;
    height: 25rem;
    width: 25rem;
}

.bubble5 {
    position: absolute;
    background-color: var(--bubble5);
    top: 400;
    left: 250;
    animation: wave-motion calc(40s) linear infinite;
    height: 20rem;
    width: 20rem;

}

.bubble6 {
    position: absolute;
    background-color: var(--bubble6);
    top: 600;
    right: 400;
    animation: pulse-move calc(65s) linear infinite;
    height: 25rem;
    width: 25rem;
}

.bubble7 {
    position: absolute;
    background-color: var(--bubble7);
    top: 600;
    left: 400;
    animation: diagonal-sweep calc(50s) ease-in-out infinite;
    height: 25rem;
    width: 25rem;
}

.bubble8 {
    position: absolute;
    background-color: var(--bubble7);
    top: 900;
    left: 300;
    animation: random-drift calc(50s) linear infinite;
    height: 25rem;
    width: 25rem;
}

.bubble9 {
    position: absolute;
    background-color: var(--bubble7);
    top: 800;
    right: 300;
    animation: move-vertical calc(50s) ease-in-out infinite;
    height: 25rem;
    width: 25rem;
}

.bubble10 {
    position: absolute;
    background-color: var(--bubble7);
    top: 100;
    left: 600;
    animation: move-diagonal calc(50s) linear infinite;
    height: 25rem;
    width: 25rem;
}

.interactive {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bubble-interactive);
    width: 20rem;
    height: 20rem;
    opacity: 0.4;
}

@keyframes diagonal-drift {
    0% {
        transform: translate(calc(var(--spread-distance) * -1), calc(var(--spread-distance) * -1));
    }

    100% {
        transform: translate(var(--spread-distance), var(--spread-distance));
    }
}

@keyframes spiral {
    0% {
        transform: rotate(0deg) translate(calc(var(--spread-distance) * 0.5)) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(calc(var(--spread-distance) * 0.5)) rotate(-360deg);
    }
}

@keyframes pulse-move {
    0% {
        transform: translate(0, 0) scale(1);
    }

    50% {
        transform: translate(calc(var(--spread-distance) * 0.3), calc(var(--spread-distance) * 0.3)) scale(0.8);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes diagonal-sweep {
    0% {
        transform: translate(calc(var(--spread-distance) * -1), calc(var(--spread-distance) * -1));
    }

    100% {
        transform: translate(var(--spread-distance), var(--spread-distance));
    }
}

@keyframes pendulum {

    0%,
    100% {
        transform: translate(calc(var(--spread-distance) * -1), 0) rotate(-30deg);
    }

    50% {
        transform: translate(var(--spread-distance), 0) rotate(30deg);
    }
}

@keyframes wave-motion {
    0% {
        transform: translate(0, 0) scale(1);
    }

    25% {
        transform: translate(calc(var(--spread-distance) * 0.8), calc(var(--spread-distance) * -0.6)) scale(0.9);
    }

    50% {
        transform: translate(calc(var(--spread-distance) * 0.4), calc(var(--spread-distance) * 1.2)) scale(1.1);
    }

    75% {
        transform: translate(calc(var(--spread-distance) * -0.7), calc(var(--spread-distance) * 0.3)) scale(0.95);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes zig-zag {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(calc(var(--spread-distance) * 1.5), calc(var(--spread-distance) * -1));
    }

    50% {
        transform: translate(calc(var(--spread-distance) * -1), calc(var(--spread-distance) * 0.8));
    }

    75% {
        transform: translate(calc(var(--spread-distance) * 0.7), calc(var(--spread-distance) * 1.2));
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes random-drift {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(calc(var(--spread-distance) * 0.8), calc(var(--spread-distance) * -0.6));
    }

    50% {
        transform: translate(calc(var(--spread-distance) * 0.4), calc(var(--spread-distance) * 1.2));
    }

    75% {
        transform: translate(calc(var(--spread-distance) * -0.7), calc(var(--spread-distance) * 0.3));
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes move-diagonal {
    0% {
        transform: translate(-40%, -20%) rotate(0deg);
    }

    50% {
        transform: translate(40%, 20%) rotate(180deg);
    }

    100% {
        transform: translate(-40%, -20%) rotate(360deg);
    }
}

@keyframes move-vertical {
    0% {
        transform: translateY(-35%) scale(0.98);
    }

    50% {
        transform: translateY(35%) scale(1.02);
    }

    100% {
        transform: translateY(-35%) scale(0.98);
    }
}